<%- include ('includes/head.ejs') %>
<body>
    <h2>This page belong to @ <%= username %></h2>
    <button>Follow</button>
    <button>Message</button>

    <h3>Account that follow you :</h3>
    <ul>
        <% for(let name of followers) { %>
        <li><%= name %></li>
        <% } %>
    </ul>
</body>
</html>

